USE [ilan_vt]
GO
/****** Object:  Table [dbo].[ilanTablo]    Script Date: 14.06.2021 20:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilanTablo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[musteriID] [int] NOT NULL,
	[ilanBaslik] [varchar](50) NOT NULL,
	[ilanAciklama] [text] NULL,
	[ilanSehir] [varchar](50) NOT NULL,
	[aracFiyat] [int] NOT NULL,
	[aracKm] [int] NOT NULL,
	[aracMarka] [varchar](50) NOT NULL,
	[aracModel] [varchar](50) NOT NULL,
	[aracMotorHacmi] [int] NOT NULL,
	[aracYil] [int] NOT NULL,
	[aracDurum] [int] NOT NULL,
	[aracTakas] [int] NOT NULL,
	[aracKimden] [int] NOT NULL,
	[aracGorsel] [varbinary](max) NULL,
	[ilanDurum] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[markaTablo]    Script Date: 14.06.2021 20:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[markaTablo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[marka_isim] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modelTablo]    Script Date: 14.06.2021 20:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modelTablo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[markaID] [int] NOT NULL,
	[model_isim] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteriTablo]    Script Date: 14.06.2021 20:51:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteriTablo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[musteriAd] [varchar](50) NULL,
	[musteriSoyad] [varchar](50) NULL,
	[musteriMail] [varchar](50) NULL,
	[musteriTelefon] [varchar](50) NULL,
	[musteriSifre] [varchar](50) NULL,
	[uyelikTipi] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ilanTablo] ON 

SET IDENTITY_INSERT [dbo].[ilanTablo] OFF
GO
SET IDENTITY_INSERT [dbo].[markaTablo] ON 

INSERT [dbo].[markaTablo] ([ID], [marka_isim]) VALUES (1, N'Volkswagen')
INSERT [dbo].[markaTablo] ([ID], [marka_isim]) VALUES (2, N'Peugeot')
INSERT [dbo].[markaTablo] ([ID], [marka_isim]) VALUES (3, N'Renault')
SET IDENTITY_INSERT [dbo].[markaTablo] OFF
GO
SET IDENTITY_INSERT [dbo].[modelTablo] ON 

INSERT [dbo].[modelTablo] ([ID], [markaID], [model_isim]) VALUES (1, 1, N'Passat')
INSERT [dbo].[modelTablo] ([ID], [markaID], [model_isim]) VALUES (2, 1, N'Jetta')
INSERT [dbo].[modelTablo] ([ID], [markaID], [model_isim]) VALUES (3, 2, N'Partner')
SET IDENTITY_INSERT [dbo].[modelTablo] OFF
GO
SET IDENTITY_INSERT [dbo].[musteriTablo] ON 

INSERT [dbo].[musteriTablo] ([ID], [musteriAd], [musteriSoyad], [musteriMail], [musteriTelefon], [musteriSifre], [uyelikTipi]) VALUES (1, N'Berat', N'Yavuzyiğit', N'berat.229@hotmail.com', N'+90 534569550', N'202cb962ac59075b964b07152d234b70', 1)
INSERT [dbo].[musteriTablo] ([ID], [musteriAd], [musteriSoyad], [musteriMail], [musteriTelefon], [musteriSifre], [uyelikTipi]) VALUES (2, N'Ahmet İmran', N'Kavraş', N'ahmet@gmail.com', N'1457895847', N'd41d8cd98f00b204e9800998ecf8427e', 2)
INSERT [dbo].[musteriTablo] ([ID], [musteriAd], [musteriSoyad], [musteriMail], [musteriTelefon], [musteriSifre], [uyelikTipi]) VALUES (3, N'Yonetici', N'Admin', N'admin', N'5348567841', N'202cb962ac59075b964b07152d234b70', 3)
SET IDENTITY_INSERT [dbo].[musteriTablo] OFF
GO
ALTER TABLE [dbo].[ilanTablo] ADD  CONSTRAINT [DF_Table_1_fiyat]  DEFAULT ((0)) FOR [aracFiyat]
GO
ALTER TABLE [dbo].[ilanTablo] ADD  CONSTRAINT [DF_ilanTablo_ilanDurum]  DEFAULT ((0)) FOR [ilanDurum]
GO
ALTER TABLE [dbo].[musteriTablo] ADD  CONSTRAINT [DF_musterilerTablo_musteriYetki]  DEFAULT ((0)) FOR [uyelikTipi]
GO
